*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    padding: 5px;
}

.nav-item{
    display: inline-block;
    margin: 0.5rem;
    font-size: 1.2rem;    
    font-weight: 600;
}

.nav-link{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    color: #c87d5d;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.5s;
    position: relative;
}
.nav-link:hover{
    color: #a7684d;
}

.nav-link:active{
    color: #f19167;
}

.nav-link:visited{
    color:#c87d5d;
}

/*Animaciones NAV*/
.nav-link::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #a7684d;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s;
}
.nav-link:hover::after {
    transform: scaleX(1);
    transform-origin: left;
}


body{
    font-family: 'Poppins', sans-serif;
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.banner{
    width: 90%;
    padding: 1rem;
    margin: 2rem auto;
    background-color: #87AAAA;
}

h1{
    color: white;
    text-align: left;
    font-size: 2rem;
    letter-spacing: 0.4rem;
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;
}

section p{
    text-align: center;
    font-size: 1rem;
    color: #000;
}

.contenedorimg{
    width: 30vw;
    height: 35vh;
}


.formulario{
    width: 90vw;
    margin: 50px;
}

.listaObjetivos{
    margin-top: 1rem;
    list-style-type:square;
    margin-left: 3rem;
    font-weight: bold;
    width: 70vw;
}

.text1{
    margin-top: 15px;
    color: white;
    text-align: center;    
    font-size: 2rem;
    letter-spacing: 0.4rem;
    font-weight: 600;
    height: 10vh;
    animation: text 2s 1;
}

@keyframes text{
    0%{
        color: black;
        margin-bottom: -10px;
    }
    30%{
        letter-spacing: 1.5rem;
        margin-bottom: -10px;
    }
    85%{
        letter-spacing: 0.5rem;
        margin-bottom: -10px;
    }
}


/*GALERIA GRID*/

.contenedorGaleria{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 150px;
    padding: 20px;
    grid-gap: 10px;
}

.itemGaleria{
    position: relative;
}

.imgGaleria{
    width: 100% ;
    height: 100% ;
    object-fit: cover;
 }

.itemGaleria:nth-child(4){
    grid-column-start: span 2;
 } 

 .itemGaleria:nth-child(5){
    grid-row-start: span 2;
 }

 .itemGaleria:nth-child(9){
    grid-column-start: span 2;
 }

.tituloItem{
    position: absolute;
    bottom: 0;
    color: white;
    background: linear-gradient(rgba(255,255,255,0),rgba(0,0,0,1));
    width: 100%;
    margin:0;
    padding: 5px;
}

footer p{
    color: black;
    font-weight: 600;
    padding-top: 2rem;
    text-align: center;
    font-size: 0.8rem;
}

.fa-whatsapp{
    position: fixed;
    bottom: 5%;
    right: 3%;
    color: #fff;
    font-size: 2rem;
    background-color: #3ec34f;
    border-radius: 50%;
    padding: 0.6rem;
}

/*media queries*/
@media  (max-width:873px){
    h1{      
        text-align: center;     
    }
    .nav{
        flex-direction: column;
    }
    .formulario{
        margin: 5px;
    }
    .nav-link::after {    
        width: 50%;
    }
}